.affix-content .container {
    width: 700px;
  }   

  html{
    background-color: #f8f8f8;
    height: 100%;
    overflow: hidden;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
  .sidebar-nav{
        position:fixed; 
        width:100%;
  }
  .affix-sidebar{
    padding-right:0; 
    font-size:small;
    padding-left: 0;
  }  
  .affix-row, .affix-container, .affix-content{
    height: 100%;
    margin-left: 0;
    margin-right: 0;    
  } 
  .affix-content{
    background-color:white; 
  } 
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar{
    border-radius:0; 
    margin-bottom:0; 
    border:0;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }  
  .side-nav {
    position: fixed;
    top: 51px;
    left: 225px;
    width: 225px;
    margin-left: -225px;
    border: none;
    border-radius: 0;
    overflow-y: auto;
    background-color: #222;
    bottom: 0;
    overflow-x: hidden;
    padding-bottom: 40px;
  }


.navbar-default {
    background-color: #222;
    border-color: #080808;
}
.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}

.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
}

.search-bar {
    border: 2px solid #305197;
    border-radius: 5px;
    padding: 1px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
}

.form_item{
  padding-left: 200px;
}
.form_label{
  padding-left: 0;
}

@media (min-width: 769px){
  .affix-content .container {
    width: 600px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }  
}

@media (min-width: 992px){
  .affix-content .container {
  width: 900px;
  }
    .affix-content .container .page-header{
    margin-top: 0;
  }
}

@media (min-width: 1220px){
  .affix-row{
    overflow: hidden;
  }

  .affix-content{
    overflow: auto;
  }

  .affix-content .container {
    width: 1000px;
  }

  .affix-content .container .page-header{
    margin-top: 0;
  }
  .affix-content{
    padding-right: 30px;
    padding-left: 30px;
  }  
  .affix-title{
    border-bottom: 1px solid #ecf0f1; 
    padding-bottom:10px;
  }
  .navbar-nav {
    margin: 0;
  }
  .navbar-collapse{
    padding: 0;
  }
  .sidebar-nav .navbar li a:hover {
    background-color: #428bca;
    color: white;
  }
  .sidebar-nav .navbar li a > .caret {
    margin-top: 8px;
  } 
  .menu-hinh{
    padding-right: 20px;
  }
  header{
    padding-right: 50px;
  }
  .timkiem{
    padding-right: 0px;
    
  }

  .themmoi{
    padding-left: 0px;
  }
  .search{
    padding-left: 100px;
  }



body {
    height: 100%;
    overflow: hidden;
    margin-top: 100px;
    background-color: #222;
}

@media(min-width:768px) {
    body {
        margin-top: 0px;
    }
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 225px;
    }

    #page-wrapper {
        padding: 10px;
    }
}

/* Top Navigation */

.top-nav {
    padding: 0px 0px;
}

.top-nav>li {
    display: inline-block;
    float: left;
}

.top-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 20px;
    color: #999;
}

.top-nav>li>a:hover,
.top-nav>li>a:focus,
.top-nav>.open>a,
.top-nav>.open>a:hover,
.top-nav>.open>a:focus {
    color: #fff;
    background-color: #000;
}

.top-nav>.open>.dropdown-menu {
    float: left;
    position: absolute;
    margin-top: 0;
    border: 1px solid rgba(0,0,0,.15);
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
}

.top-nav>.open>.dropdown-menu>li>a {
    white-space: normal;
}

/* Side Navigation */

@media(min-width:768px) {
    .side-nav {
        position: fixed;
        top: 51px;
        left: 225px;
        width: 225px;
        margin-left: -225px;
        border: none;
        border-radius: 0;
        overflow-y: auto;
        background-color: #222;
        bottom: 0;
        overflow-x: hidden;
        padding-bottom: 40px;
    }

    .side-nav>li>a {
        width: 225px;
    }

    .side-nav li a:hover,
    .side-nav li a:focus {
        outline: none;
        background-color: #000 !important;
    }
}

.center {
  text-align: center;
}

.res_form_row {
    width: 690px;
    margin: 15px 0 7px 22px;
    min-height: 10px;
    float: left;
}
.res_f_r_left {
    width: 225px;
    float: left;
    margin-top: 5px;
}
.res_f_r_left_up {
    width: 100%;
    float: left;
}
.res_f_r_right {
    float: left;
    width: 295px;
    min-height: 30px;
    margin-top: 4px;
}
.res_input_true {
    border: 1px solid #5ab6de !important;
}
.res_input {
    width: 271px;
    height: 25px;
    padding-left: 5px;
    border: 1px solid #b5b5b5;
    cursor: text;
    font-size: 14px;
    border-radius: 4px;
    
    color: #333;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}
.res_f_note {
    margin: 3px 0;
    font-weight: normal;
    min-height: 13px;
    padding-left: 20px;
    display: none;
    width: 450px;
}
.so_luong{
     float: left;
     width: 100px;
}
.nhap_so_luong{
    float:left;
}

.menu li {
    font-size: 16px;
}
.liActive a{
    color:#fff;
}

.navbar-default .navbar-nav>li>a{
    color:white;
}